* {
    box-sizing: border-box;
}


header {
    text-align: center;
    background-color: rgba(68,68,68,255);
    padding: 20px;
    height: 100px;
  }

header div {
    position:relative;
    top: auto;

    left: 13%;
    right: 13%;
    /* margin-left: 170px; */
    height: 100px;
    width: 960px;
}

header img {
    float: left;
}

header nav ul li {
    float: left;
    padding: 20px;
    /* clear: both;   */
    margin-left: 10%;
    display: inline-block;
    color :rgba(117,117,117,255);
}
body{
    text-align: center;
}

main section:first-child {
    text-align: center;
    margin-top: 20px;
}
main section:nth-child(2){
    text-align: center;
}

main section:nth-child(2) img{
    margin: 13px;
}


main section:last-child{
    display: inline-block;
    width: 960px;
    margin-bottom : 20px ;
    
}

main section:last-child img{
float: left;
}

main section:last-child article {
    display:inline-block;
    text-align: justify;

}


main section:last-child article h3 {
    margin-left: 15px;
        font-size: x-large;
}

main section:last-child p {
    width: 400px;
    margin-left: 15px;
    text-align: justify;
    padding: 5px;
 }

 main section:last-child a {
    margin-left: 15px;
 }




footer {
    background-color: rgba(68,68,68,255);
    padding: 20px;
     text-align: center;
     color :rgba(117,117,117,255);

}
